resources:
  - apiVersion: external-secrets.io/v1
    kind: ClusterSecretStore
    metadata:
      name: aws
    spec:
      provider:
        aws:
          service: SecretsManager
          region: '{{ .Values.region }}'
          auth:
            jwt:
              serviceAccountRef:
                name: external-secrets
                namespace: external-secrets
