environments:
  default:
    kubeContext: arn:aws:eks:us-east-1:154996170705:cluster/test-devops
helmfiles:
  - path: ./bootstrap/helmfile.yaml.gotmpl
  - path: ./essencials/helmfile.yaml.gotmpl
  - path: ./gitops/helmfile.yaml.gotmpl
