version: '3'
tasks:
  install:prom:crds:
    cmds:
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-alertmanagerconfigs.yaml
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-alertmanagers.yaml
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-podmonitors.yaml
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-probes.yaml
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-prometheusagents.yaml
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-prometheuses.yaml
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-prometheusrules.yaml
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-scrapeconfigs.yaml
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-servicemonitors.yaml
      - kubectl apply --server-side -f https://raw.githubusercontent.com/prometheus-community/helm-charts/refs/heads/main/charts/kube-prometheus-stack/charts/crds/crds/crd-thanosrulers.yaml
  bootstrap:
    cmds:
      - task: install:prom:crds
      - helmfile --selector name=aws-ebs-csi-driver apply
      - helmfile --selector name=storage-class apply
      - helmfile --selector name=karpenter apply
      - helmfile --selector name=karpenter-raw apply
      - helmfile --selector name=metrics-server apply
  essencials:
    cmds:
      - helmfile --selector name=ingress-nginx apply
      - helmfile --selector name=external-dns apply
      - helmfile --selector name=cert-manager apply
      - helmfile --selector name=cert-manager-issuers apply
      - helmfile --selector name=argo-cd apply
  gitops:
    cmds:
      - helmfile --selector name=external-secrets apply
      - helmfile --selector name=external-secrets-raw apply
      - helmfile --selector name=monitoring-raw apply
      - helmfile --selector name=kube-prometheus-stack apply
      - helmfile --selector name=promtail apply
      - helmfile --selector name=loki apply
      - helmfile --selector name=velero apply
      - helmfile --selector name=crossplane apply
      - helmfile --selector name=crossplane-raw apply
  install:
    cmds:
      - task: bootstrap
      - task: essencials
  install:all:
    cmds:
      - task: bootstrap
      - task: essencials
      - task: gitops
